<div class="row timelineItem" data-template-bind='[{"attribute":"data-date","value":"Date"}]'>
    <div class="col-xs-6 col-sm-2">
           <span class=" fa-stack fa-2x">
           <i class="fa fa-circle fa-stack-2x" style="color:lightgrey;"></i>
           <i class="fa fa-stack-1x" data-class="Icon"></i>
           </span>
        <div class="borderDiv hidden-xs"
             style="border-left:3px solid lightgrey; margin-top: -5px; margin-bottom: -5px; margin-left: 27px;"></div>
    </div>
    <div class="col-xs-6 col-sm-3  col-sm-push-7 text-right" style="margin-top: 15px;" data-content="Created" data-format="DateTimeFormatter">
    </div>
    <div class="col-xs-12 col-sm-7 col-sm-pull-3"
         style="padding-top: 15px;">
        <p data-content="User" style="display: inline;"></p>
            <strong><p data-content="Message" style="display: inline;"></p></strong>:

        <p><span class="multiline" data-content="Comment"></span>
        </p>
    </div>
    <div class="horizontalBorderDiv col-xs-12 col-sm-10"
         style="border-bottom:1px solid lightgrey; margin-bottom: 15px;"></div>
</div>