<li class="ClientToCall progress-title"  data-template-bind='[{"attribute":"title","value":"Description"},{"attribute":"data-event-model","value":"EventModel"},{"attribute":"data-event-model-id","value":"EventModelId"}]'>
    <div class="row">
        <div class="col-md-9">
            <label>
                <i class="fa fa-pencil updateAppointment" data-template-bind='[{"attribute":"data-calendarevent-id", "value":"EventId"}]'></i>
                <span data-content="Title" data-link="ClientToCallLink"  class="responsive-text"></span>
            </label>
        </div>
        <div class="col-md-3 text-right">
            <span data-content="Start" data-format="DateFormatter" class="responsive-text"></span>
        </div>
    </div>
</li>