<p>
<form id="searchInvoiceForm">
    <div class="input-group well">
        <input type="text" data-value="SearchedInvoices" class="form-control invoiceSearchString"><!-- The text from payments table -->
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary searchInvoiceButton"><i class="fa fa-search" data-content="SearchLabel"></i></button>
             </span>
    </div>
</form>
</p>
<p>

<h4 data-content="DisplayingResults"></h4>
<hr />
<div class="invoiceSearchResults">

</div>
<hr />
</p>