<tr data-template-bind='[{"attribute":"data-invoice-id","value":"InvoiceId"}]'>
    <td data-content="PaymentCheckBox"></td>
    <td data-content="CreateDate"></td>
    <td><a target="_blank" data-content="InvoiceNumber" data-href="InvoiceLink"></a></td>
    <td><a target="_blank" data-content="ClientName" data-href="ClientAliasLink"></a></td>
    <td><a data-content="InvoiceText" href="#" data-class="SearchInvoiceClass"></a></td>
    <td data-content="IsPaid" class="isPaid"></td>
    <td data-content="Amounts"></td>
    <td data-content="PayButton"></td>
</tr>