<div class="col-md-12">
    <div class="row">
        <form class="form-inline adminUserAssignForm" data-id="FormName">
            <div class="form-group">
                <div class="col-md-2">
                    <label data-template-bind='[{"attribute":"for","value":"Name"}]' data-content="Label" class="control-label"></label>
                </div>
                <div class="col-md-8">
                    <select data-id="Name" data-template-bind='[{"attribute":"name","value":"Name"}]' class="form-control"></select>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-green btn-sm">Move</button>
                 </div>
            </div>
        </form>
    </div>
</div>
<br /><br />


