<div class="form-group">
    <div class="col-sm-12 panel-row">
        <div class="checkbox block">
            <dl class="dl-horizontal-row">
                <dt>Addon</dt>
                <dd>
                 <label data-content-append="ProductName">
                    <input class="PackageAddon" data-value="ProductId" name="PackageAddon" type="checkbox" data-template-bind='[{"attribute":"onclick","value":"Disabled"},{"attribute":"checked","value":"Checked"}]'>
                </label>
                </dd>
            </dl>

        </div>
    </div>
</div>