<div class="form-group">
    <div class="col-sm-6">
        <a class="btn btn-green" data-template-bind='[{"attribute":"data-alias-name","value":"ClientAliasName"},
                          {"attribute":"data-alias-id","value":"Id"},
                          {"attribute":"data-alias-homepage","value":"Homepage"}]'
           href="#" data-content="ClientAliasName" onclick="setAliasId(this.dataset.aliasId,this.dataset.aliasName,this.dataset.aliasHomepage);closeDefaultModal()"></a>
    </div>
</div>