<div class="form-group">
    <label for="ClientAlias-Name" class="col-md-3 control-label" data-content="NameLabel"></label>
    <div class="col-sm-6">
        <input type="text" name="ClientAlias-Name" required="required" class="form-control" id="ClientAlias-Name">
    </div>
    <div class="col-sm-3">
        <p class="help-block"><i class=" fa fa-info-circle" title="Help Text!"></i></p>
    </div>
</div>

<div class="form-group">
    <label for="Client-CINumber" class="col-md-3 control-label" data-content="CILabel"></label>
    <div class="col-sm-6">
        <input type="text" name="Client-CINumber" required="required" class="form-control" id="Client-CINumber">
    </div>
    <div class="col-sm-3">
        <p class="help-block"><i class=" fa fa-info-circle" title="Help Text!"></i></p>
    </div>
</div>

<div class="form-group">
    <label for="ClientAlias-Address" class="col-md-3 control-label" data-content="AddressLabel"></label>
    <div class="col-sm-6">
        <input type="text" name="ClientAlias-Address" required="required" class="form-control" id="ClientAlias-Address">
    </div>
    <div class="col-sm-3">
        <p class="help-block"><i class=" fa fa-info-circle" title="Help Text!"></i></p>
    </div>
</div>

<div class="form-group">
    <label for="ClientAlias-Zip" class="col-md-3 control-label" data-content="ZipLabel"></label>
    <div class="col-sm-6">
        <input type="text" name="ClientAlias-Zip" required="required" class="form-control" id="ClientAlias-Zip">
    </div>
    <div class="col-sm-3">
        <p class="help-block"><i class=" fa fa-info-circle" title="Help Text!"></i></p>
    </div>
</div>

<div class="form-group">
    <label for="ClientAlias-City" class="col-md-3 control-label" data-content="ZipLabel"></label>
    <div class="col-sm-6">
        <input type="text" name="ClientAlias-City" required="required" class="form-control" id="ClientAlias-City">
    </div>
    <div class="col-sm-3">
        <p class="help-block"><i class=" fa fa-info-circle" title="Help Text!"></i></p>
    </div>
</div>

<div class="form-group">
    <label for="ClientAlias-Email" class="col-md-3 control-label" data-content="EmailLabel"></label>
    <div class="col-sm-6">
        <input type="text" name="ClientAlias-Email" required="required" class="form-control" id="ClientAlias-Email">
    </div>
    <div class="col-sm-3">
        <p class="help-block"><i class=" fa fa-info-circle" title="Help Text!"></i></p>
    </div>
</div>

<div class="form-group">
    <label for="ClientAlias-Phone" class="col-md-3 control-label" data-content="PhoneLabel"></label>
    <div class="col-sm-6">
        <input type="text" name="ClientAlias-Phone" required="required" class="form-control" id="ClientAlias-Phone">
    </div>
    <div class="col-sm-3">
        <p class="help-block"><i class=" fa fa-info-circle" title="Help Text!"></i></p>
    </div>
</div>

<div class="form-group">
    <label for="Contact-Name" class="col-md-3 control-label" data-content="ContactNameLabel"></label>
    <div class="col-sm-6">
        <input type="text" name="Contact-Name" required="required" class="form-control" id="Contact-Name">
    </div>
    <div class="col-sm-3">
        <p class="help-block"><i class=" fa fa-info-circle" title="Help Text!"></i></p>
    </div>
</div>

<div class="form-group">
    <label for="Contact-EMail" class="col-md-3 control-label" data-content="ContactEMailLabel"></label>
    <div class="col-sm-6">
        <input type="text" name="Contact-EMail" required="required" class="form-control" id="Contact-EMail">
    </div>
    <div class="col-sm-3">
        <p class="help-block"><i class=" fa fa-info-circle" title="Help Text!"></i></p>
    </div>
</div>

<div class="form-group">
    <label for="Contact-Phone" class="col-md-3 control-label" data-content="ContactPhoneLabel"></label>
    <div class="col-sm-6">
        <input type="text" name="Contact-Phone" required="required" class="form-control" id="Contact-Phone">
    </div>
    <div class="col-sm-3">
        <p class="help-block"><i class=" fa fa-info-circle" title="Help Text!"></i></p>
    </div>
</div>

