<li class="commentReply" data-template-bind='[{"attribute":"data-parent-id","value":"ParentId"},{"attribute":"data-comment-id","value":"CommentId"}]'>
    <div class="content">
        <span class="actions">
            <div class="options">
                <!--<div class="btn-group">-->
                    <!--<button data-class="ShowHideClasses"  data-template-bind='[{"attribute":"title","value":"ShowHideTitle"}]'><i data-class="IconClass"></i></button>-->
                <!--</div>-->
            </div>
        </span>
        <div class="comment" data-content="Comment">
        </div>
        <span class="thread" data-content-append="Created"> by <a href="#" data-content="UserName"></a> at </span>
    </div>
</li>