<tr>
    <td data-content="Initials"></td>
    <td><a target="_blank" data-href="NewLink" data-content="New"></a></td>
    <td><a target="_blank" data-href="AppointmentLink" data-content="Appointment"></a></td>
    <td><a target="_blank" data-href="NoAnswerLink" data-content="NoAnswer"></a></td>
    <td><a target="_blank" data-href="DeadLink" data-content="Dead"></a></td>
    <td><a target="_blank" data-href="NoAdsLink" data-content="NoAds"></a></td>
    <td><a target="_blank" data-href="NotInterestedLink" data-content="NotInterested"></a></td>
    <td><a target="_blank" data-href="ReUseLink" data-content="ReUse"></a></td>
    <td><a target="_blank" data-href="CustomerLink" data-content="Customer"></a></td>
    <td><a target="_blank" data-href="LocalLink" data-content="Local"></a></td>
</tr>
