<div class="form-group col-md-4" data-class="Hidden">
    <div class="checkbox">
        <input type="checkbox" class="checklistParent checklistTask taskCheck" data-value="Id"
               data-template-bind='[{"attribute":"checked","value":"Checked"}]'>
        <a data-href="Link" data-content-append="Title"
           data-template-bind='[{"attribute":"title","value":"Description"}]' target="_blank"></a>
    </div>
    <div class="col-sm-12 col-md-offset-1 checklistChildren">

    </div>
</div>