<div class="row">
    <div class="col-md-12">
        </spam><a class="pull-left notificationName" style="font-size: 18px;" data-href="link" data-content="Name"></a>
       <!-- <p style="font-size: 12px; display: inline-block; color: lightgrey; margin-left: 10px; margin-top: 6px;">Completed by John Doe on 1-9-2016 at 10:45</p> -->

    </div>
    <div class="row">
        <div class="col-md-12">
            <div data-content="content" class="multiline notification-content" style=" margin-top: 10px; margin-left: 10px; margin-right: 10px;"></div>
        </div>
    </div>
    <span class="btn pull-right mark-as-not-seen"
          data-template-bind='[{"attribute":"data-notification-id", "value":"notification_id"}]'
    ><i class='fa fa-eye-slash'></i> Mark as unseen </span>
</div>